@media (max-width: 900px){
    .contenedor {
        display: block;
        min-height: 100%;
    }
    .fotoindex{
        width: 100%;
    }
    .datosFoto{
        width: 100%;
    }
    .listaBotones{
        text-align: center;
        padding: 0px;
    }
    .listaBotones li{
        margin-bottom: 30px;
    }
}

@media (min-width:901px){
    .contenedor {
        display: -webkit-box;
    }

    .fotoindex{
        width: 40%;
    }

    .datosFoto{
        width: 25%;
    }
    .contenidoFoto{
        width: 75%;
    }

    .listaBotones li{
        display:inline-block;
        place-content: center;
        margin: auto;
        padding-left:3px;
        padding-right:3px;
        white-space: nowrap;
        margin-bottom: 4%;
    }
}

.contenedor {
    align-items: center;
    margin: 20px;
    
}

.divFoto{
    align-items: center;
    text-align: center;
}
.fotocv{
    width: auto;
    height: 50vh;
    border-radius: 2.963vh;
}


body{
    background-color: #FFFFFF;
    color: #A08888;
    margin:0px;
}

.rectangulo{
    font-family: 'Montserrat';
    text-align: center;
    list-style-type: none;
    background-color: #F3EAEA;
    border-radius: 1.8519vh;
    padding: 1.8519vh;
    margin: 1.8519vh;
   
}

.rectanguloboton1{
    text-align: center;
    list-style-type: none;
    background-color: #D1C9C2;
    border-radius: 1.8519vh;
    padding: 1.2963vh;
    margin: 1.2963vh;
    
}

.rectanguloboton2{
    text-align: center;
    list-style-type: none;
    background-color: #EEE8E5;
    border-radius: 1.8519vh;
    padding: 1.1111vh;
    margin: 1.1111vh;
    
}

.opcionesLetraboton{
    color:#8E726E;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    
}
.opcionesLetraboton2{
    color:#8E726E;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 3.17182vh;
    justify-content: center;
    align-items: center;
}

.tituloNombre{
    font-family: 'Bebas Neue';
    font-size: 6vh; 
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.opcionesLetra{
    color:#946761;
    font-family: 'Montserrat';
    font-size: 3.33vh;
    justify-content: center;
    align-items: center;

}

.opcionesLetra2{
    color:#946761;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 3.1481vh;
    justify-content: center;
    align-items: center;
   
}
.rectangulo-datosPersonales{
    width: 20%;
}

.rectangulo-infomas{
    background-color:#F8F5F2; 
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 1.8519vh;
    padding: 3.2407vh;
    margin: 0.4630vh;
}



.rectanguloboton1{
    text-align: center;
    list-style-type: none;
    background-color: #D1C9C2;
    border-radius: 1.8519vh;
    padding: 1.2963vh;
    margin: 1vh;
}

.rectanguloboton2{
    text-align: center;
    list-style-type: none;
    background-color: #EEE8E5;
    border-radius: 1.8519vh;
    padding: 1.1111vh;
    margin: 1.1111vh;
}

.contenedor-centrado{
    font-family: 'Montserrat';
    color:#946761;
    font-weight: bolder;
    font-size: 3.7vh;
}

.letras{
    color:#946761;
    font-family: 'Montserrat';
    font-size: 1.8519vh;
    list-style-type: none;
}
.letrastitulotext{
    color:#946761;
    font-family: 'Montserrat';
    font-size: 3.3333vh;
    list-style-type: none;
}
.letrastitulo{
    color:#946761;
    font-family: 'Montserrat';
    font-size: 3.7037vh;
    font-weight: bold;
    list-style-type: none;
}
.parrafo{
    bottom: 10%;
    text-align:justify;

}
ul {
    list-style: none;
}


.indexUl{
    padding:0;
    margin:0;
}

.footerStyle {
    background-color: #F3EAEA;
    text-align: right;
    min-height: 18.2vh;
    padding: 2vh;
}

.game {
    text-align: center;
    margin-top: 50px;
    color:#946761;
    font-family: 'Montserrat';
    font-weight: bolder;
}

.grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2px;
    width: 306px;
    margin: 0 auto;
    vertical-align: middle;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #946761;
    background-color: #EEE8E5;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.button {
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Montserrat';
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: #A08888;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
    border-radius: 10vh;
}